<!DOCTYPE html>
<head>
    <meta charset='UTF-8'>
    <title>News</title>
    <link rel='stylesheet' type='text/css' href='/styles/news.css' defer>
    <link rel='shortcut icon' href='#' />
    <script type='text/javascript' src='/scripts/news.js' async></script>
</head>

<body onLoad='shownews()'>
    <header class='home' role='banner'>
        <div>News Headlines</div>
    </header>
    <div id='main-menu'>
        <nav>
            <ul class=' hidden-xs'>
                <li class='us' id='us'>
                    <button>US</button>
                </li>
                <li class='europe' id='europe'>
                    <button>Europe</button>
                </li>
                <li class='middleeast' id='middleeast'>
                    <button>Middle East</button>
                </li>
                <li class='asia' id='asia'>
                    <button>Asia</button>
                </li>
     		</ul>
        </nav>
        <section class='newslist' id='newslist'>
            <div id='newscontent'>
                <ul id='newslist'></ul>
            </div>
        </section>
    </div>

</body>

</html>