<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="/styles/news.css" defer>
    <link rel="shortcut icon" href="#" />
    <script type="text/javascript" src="/scripts/news.js" async></script>
</head>

<body onLoad="shownews()">
    <header class="home" role="banner">
        <div>News Headlines</div>
    </header>
    <div id="main-menu">
        <nav>
            <ul class=" hidden-xs">
                <li class="us" id="us">
                    <button>US</button>
                </li>
                <li class="gb" id="gb">
                    <button>UK</button>
                </li>
                <li class="au" id="au">
                    <button>Australia</button>
                </li>
                <li class="fr" id="fr">
                    <button>France</button>
                </li>
                <li class="jp" id="jp">
                    <button>Japan</button>
                </li>
                <li class="cn" id="cn">
                    <button>China</button>
                </li>
            </ul>
        </nav>
        <section class="newslist" id="newslist">
            <div id="newscontent">
            </div>
        </section>
    </div>

</body>

</html>